<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <div class="header">
            <h4>Мои чаты</h4>
            <button>+ Создать чат</button>
        </div>
    </div>
</body>
</html>

<style>

html,body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h4 {
    margin: 0;
}

.header {
    background: rgb(247, 247, 247);
    border-bottom: 1px #ccc solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

button {
    font-family: 'Roboto', sans-serif;
    border: 1px #ccc solid;
    padding: 5px 10px;
    border-radius: 5px;
}

button:focus {
    outline: none;
}

</style>

<script>

function setCookie(name,value,days = 7) {
    var expires = "";
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days*24*60*60*1000));
        expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + (value || "")  + expires + "; path=/";
}

function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
}
(async function() {
    var response = await fetch('/check_session', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json;charset=utf-8'
        },
        body: JSON.stringify({ hash: getCookie('sfduyf673rgsdyf67') })
    })

    var result = await response.json()
    if(result.success == 0)
    {
        document.location.href = '/login'
        return;
    }

})()

var app = new Vue({
    el: '#app',
    data: {
        message: 'Hello Vue!'
    }
})

</script>